*{
  margin: auto;
  
}
*{padding: 0;}
.left{
  float: left;
}
.right{

  float: right;
}

.clear::after{
  content: "";
display:inline-block ;
clear: both;


}
img{
  max-width: 100%;
}

.mid{



}

.team{
  max-width: 466px;
  height: 600px;
  
background-color: #05c46b;
  padding-right: 200px -200px;
padding-left: -20px;
padding: 48px 24px;

}

/* .lkd{

  background: url(./img/fottballllll.jpg) no-repeat;
background-size: cover;
opacity: .2;
z-index: 1;


} */

H6{font-size: 12px;}
.header{
  border-bottom: 1px solid;
padding-bottom: 66px;
padding: 34px 0px;
padding-bottom: 35px;
}
.name{

  width: 70%;

}
.name h2{
  font-size: 20px;
padding-bottom: 7px;
}
.name h4{


}
.logo{
  width: 15%;
  
}
.logo img{
  height: 52px;
  width: 90px;
}
.logoo{

  width: 15%;
}
.logoo img{
  height: 52px;
width: 73px;
}

.profile{
  margin-top: 44px;
}
.ready{
  width: 25%;



}
.ready img{
width: 80px;
border-radius: 50%;

}
.bio{

  text-align: center;
  background-color: #485460;
  color: white;
  margin-right: 27px;
  
  border-radius: 0px 17px 0px 24px;
 
  padding: 6px;
}

.bio::before{

  content: "";
  

}
.bio h4{
  font-size: 14px;
  color: white;
  font-weight: 664;
}
.bio h5{
  font-size: 11px;
  font-weight: 400;
}